/***** Primary style *****/

html, body{
  margin: 0;
  padding: 0;
}

/***** Header section *****/

#header { 
  background-color: #303e49;
  text-align: center;
  height: 350px;
  line-height: 50px;
}

header h1 {
  display: block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1.5rem;
}

header img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: block;
  margin: auto;
  border: 2px solid #718ca1;
}

#image-section {
  padding: 40px;
}


/***** Timeline section *****/

.cd-container{
  width: 90%
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  content: '';
  display: table;
  clear: both;
}


/***** Timeline vertical line *****/

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}

.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-img {
  position: relative;
  left: 50%;
  margin-left: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 26%;
  margin-left: -12px;
  margin-top: -12px;
}

.cd-timeline-img.cd-picture {
  background-color: #8b72cf;
}


.cd-timeline-content{
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}

.cd-timeline-content::after {
  content: "";
  display: table;
  clear: both;
}

/*left off here*/

.cd-timeline-content h2 {
  color: #303e49;
  font-size: 1em;
}

/*delete if needed*/

/*.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}*/

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
}

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}

.no-touch .cd-timeline-content .cd-read-more::hover {
  background-color: #bac4cb;
}

.cd-timeline-content .cd-date{
    float: left;
    padding: .8em 0;
    opacity: .7;
}

/*left off here*/

.cd-timeline-content::before{
  content: " ";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid tranparent;
  border-right: 7px solid white;

}


  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }



/*Timeline Content Floats */

.cd-timeline-block:nth-child(even) .cd-timeline-content {
  float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent;
  border-right-color: white;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
  float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
  left: auto;
  right: 122%;
  text-align: right;
}



/***** Embedded tweets *****/

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

/**** Footer ****/

footer {
  height: 100px;
  background-color: #303e49; 
}


























